<div class="jumbotron">
    <h1>FHIR-Based Clinical Decision Support</h1>
    <p class="lead">This sample application provides a simple implementation of a FHIR server that implements the specifications described in the Clinical Quality Framework Implementation Guide.</p>
    <p><a href="http://cqframework.info" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
	<h6>Endpoint: </h6>
	<span class="endpoint">
		@Spark.App.Settings.GuidanceEndpoint
	</span>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>The FHIR-Based Clinical Quality Framework Implementation Guide provides profile and operation definitions to implement a FHIR-Based Quality Improvement Service.</p>
        <p><a class="btn btn-default" href="http://wiki.hl7.org/index.php?title=CDS_on_FHIR">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Spark FHIR Server</h2>
        <p>This sample server is built using the Spark FHIR Reference Implementation, DSTU-2 version of FHIR.</p>
        <p><a class="btn btn-default" href="https://github.com/furore-fhir/spark">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>.NET FHIR Client</h2>
        <p>The sample client application is built using the .NET FHIR Reference Implementation, DSTU-2 version of FHIR.</p>
        <p><a class="btn btn-default" href="https://github.com/ewoutkramer/fhir-net-api">Learn more &raquo;</a></p>
    </div>
</div>
